<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
		</layout>
	</appender>

	<!--appender name="FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${user.home}/logs/xdsl-admin.log"/>
		<param name="Threshold" value="INFO"/>
		<param name="MaxFileSize" value="5MB"/>
		<param name="MaxBackupIndex" value="20"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
		</layout>
	</appender-->

	<!--appender  name="FILE"  class="org.apache.log4j.DailyFileAppender">
		<param name="File" value="'${user.home}/logs/xdsl-admin-'yyyyMMdd'.log'"/>
		<param name="Threshold" value="INFO"/>
		<param name="Append" value="true"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
		</layout>
	</appender-->

	<appender  name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${user.home}/logs/xdsl-admin.log"/>
		<param name="DatePattern" value="yyyyMMdd'.log'"/>
		<param name="Threshold" value="debug"/>
		<param name="Append" value="true"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
		</layout>
	</appender>

	<appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="FILE"/>
	</appender>

	<logger name="nl.ordina.mod4j.rbs" additivity="false">
		<level value="debug"/>
		<appender-ref ref="ASYNC"/>
	</logger>

	<logger name="org.apache.wicket" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC"/>
	</logger>

	<logger name="org.apache.wicket.protocol.http.HttpSessionStore" additivity="false">
		<level value="debug"/>
		<appender-ref ref="ASYNC"/>
	</logger>

	<logger name="org.apache.wicket.version" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC"/>
	</logger>

	<logger name="org.apache.wicket.RequestCycle" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC"/>
	</logger>

	<category name="JPOX.JDO" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC"/>
	</category>
	<category name="JPOX.Persistence" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC"/>
	</category>
	<category name="JPOX.Query" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC"/>
	</category>
	<category name="JPOX.Lifecycle" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC"/>
	</category>
	<category name="JPOX.Reachability" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC"/>
	</category>
	<category name="JPOX.Cache" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC"/>
	</category>
	<category name="JPOX.ClassLoading" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC"/>
	</category>
	<category name="JPOX.MetaData" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC"/>
	</category>
	<category name="JPOX.Management" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC"/>
	</category>
	<category name="JPOX.General" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC"/>
	</category>
	<category name="JPOX.Connection" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC"/>
	</category>
	<category name="JPOX.JCA" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC"/>
	</category>
	<category name="JPOX.Transaction" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC"/>
	</category>
	<category name="JPOX.Plugin" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC"/>
	</category>
	<category name="JPOX.Store.Poid" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC"/>
	</category>
	<category name="JPOX.Datastore" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC"/>
	</category>
	<category name="JPOX.Schema" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC"/>
	</category>
	<category name="JPOX.Persist" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC"/>
	</category>
	<category name="JPOX.Retrieve" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC"/>
	</category>
	<!--category name="JPOX.Enhancer" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC"/>
	</category>
	<category name="JPOX.SchemaTool" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC"/>
	</category>
	<category name="JPOX.IDE" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC"/>
	</category-->

	<logger name="org.springframework.jdbc" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC"/>
	</logger>

	<root>
		<priority value="error"/>
		<appender-ref ref="ASYNC"/>
	</root>

</log4j:configuration>
