<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.mod4j.dsl.presentation.xtext.editor.PresentationDslEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="pmfmod"
            icon="icons/mod4j-presentation.ico"
            id="org.mod4j.dsl.presentation.xtext.editor.PresentationDslEditor"
            name="Presentation Model Editor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
         
		<wizard
			category="org.openarchitectureware.xtext.wizards"
			class="org.mod4j.dsl.presentation.xtext.wizards.NewPresentationDslFileWizard"
			icon="icons/mod4j-presentation.ico"
			id="org.mod4j.dsl.presentation.xtext.wizards.NewPresentationDslFileWizard"
			name="Mod4j Presentation Model file">
		</wizard>
	</extension>
</plugin>
