<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.mod4j.businessdomain.xtext.editor.BusinessDomainDslEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="busmod"
            icon="icons/mod4j-business.ico"
            id="org.mod4j.businessdomain.xtext.editor.BusinessDomainDslEditor"
            name="BusinessDomain Model Editor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
         <category id="org.mod4j.businessdomaindsl.wizards" 
                   name="Mod4j new DSL project wizards"/>
		<wizard
			category="org.mod4j.businessdomaindsl.wizards"
			class="org.mod4j.businessdomain.xtext.wizards.Mod4jNewBusinessDomainDslProjectWizard"
			icon="icons/mod4j.ico"
			id="org.mod4j.businessdomain.xtext.wizards.NewBusinessDomainDslProjectWizard"
			name="Mod4j BusinessDomainDsl Project"
			project="true">
		</wizard>
         
		<wizard
            category="org.mod4j.dsl.model" 
			class="org.mod4j.businessdomain.xtext.wizards.NewBusinessDomainDslFileWizard"
			icon="icons/mod4j-business.ico"
			id="org.mod4j.businessdomain.xtext.wizards.NewBusinessDomainDslFileWizard"
			name="Mod4j Business Domain Dsl Model ">
		</wizard>
	</extension>
</plugin>
