<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="CrossxBuilder"
         name="Crossx Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="mod4j.crossx.broker.builder.CrossxBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="CrossxNature"
         name="Crossx Mod4j Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="mod4j.crossx.broker.builder.CrossxNature">
         </run>
      </runtime>
      <builder
            id="mod4j.crossx.broker.CrossxBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="mod4j.crossx.broker.contribution1">
         <action
               label="Add/Remove Crossx Nature"
               class="mod4j.crossx.broker.builder.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="mod4j.crossx.broker.addRemoveNatureAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Crossx Category"
            id="mod4j.crossx.broker">
      </category>
      <view
            allowMultiple="false"
            category="mod4j.crossx.broker"
            class="mod4j.crossx.broker.views.CrossxView"
            icon="icons/sample.gif"
            id="mod4j.crossx.broker.views.CrossxView"
            name="Crossx View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="mod4j.crossx.broker.views.CrossxView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
