<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.mod4j.businessdomain.xtext.editor.BusinessDomainDslEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="busmod"
            icon="icons/mod4j-business.ico"
            id="org.mod4j.businessdomain.xtext.editor.BusinessDomainDslEditor"
            name="BusinessDomain Model Editor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
         
		<wizard
            category="org.mod4j.eclipse.wizards/org.mod4j.dsl.model" 
			class="org.mod4j.businessdomain.xtext.wizards.NewBusinessDomainDslFileWizard"
			icon="icons/mod4j-business.ico"
			id="org.mod4j.businessdomain.xtext.wizards.NewBusinessDomainDslFileWizard"
			name="Mod4j BusinessDomain Model file">
		</wizard>
	</extension>
</plugin>
