<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="BusinessDomain.generator.crossx"
         name="Crossx info"
         point="org.mod4j.eclipse.dsl">
      <dsl
            dsl2crossxWorkflow="crossx/busmod2crossxEclipse.oaw"
            dslCodegenProperties="businessDomain/BusinessDomainDsl.properties"
            dslCodegenWorkflow="codegen/BusinessDomainDsl.oaw"
            dslFileExtension=".busmod"
            dslMetamodelPackage="BusinessDomainDsl.BusinessDomainDslPackage"
            dslName="Business Domain DSL"
            dslXtendModule="busmod2crossx">
      </dsl>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            class="businessDomain.generator.EFactory1"
            uri="BusinessDomain.generator.factory1">
      </factory>
   </extension>

</plugin>
