<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.mod4j.dsl.datacontract.xtext.editor.DataContractDslEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="dtcmod"
            icon="icons/mod4j-datacontract.ico"
            id="org.mod4j.dsl.datacontract.xtext.editor.DataContractDslEditor"
            name="DataContract Model Editor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">         
		<wizard
            category="org.mod4j.eclipse.wizards" 
			class="org.mod4j.dsl.datacontract.xtext.wizards.NewDataContractDslFileWizard"
			icon="icons/mod4j-datacontract.ico"
			id="org.mod4j.dsl.datacontract.xtext.xtext.wizards.NewDataContractDslFileWizard"
			name="Mod4j DataContract Model file">
		</wizard>
	</extension>
</plugin>
