<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>


  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "BusinessDomainDsl.presentation.BusinessDomainDslModelWizardID"
      name = "%_UI_BusinessDomainDslModelWizard_label"
      class = "BusinessDomainDsl.presentation.BusinessDomainDslModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/BusinessDomainDslModelFile.gif">
      <description>%_UI_BusinessDomainDslModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "BusinessDomainDsl.presentation.BusinessDomainDslEditorID"
        name = "%_UI_BusinessDomainDslEditor_label"
        icon = "icons/full/obj16/BusinessDomainDslModelFile.gif"
        extensions = "businessdomaindsl"
        class = "BusinessDomainDsl.presentation.BusinessDomainDslEditor" 
        contributorClass="BusinessDomainDsl.presentation.BusinessDomainDslActionBarContributor" >
    </editor>
  </extension>    
</plugin>
